<button mat-raised-button color="primary" (click)="addUser()">
  Add User
</button>
<button mat-raised-button color="accent" (click)="UpdateUser()">
  Update User
</button>
<button mat-raised-button color="primary" (click)="NewUser()">
  New User
</button>
<button mat-raised-button color="accent" (click)="Delete()">Delete</button>
<button mat-raised-button color="primary" (click)="viewUser()">view</button>

<mat-card *ngFor="let count of count1$ | async">
  <ul>
    <li><strong>Name:</strong>{{ count.name }}</li>
    <li><strong>age:</strong>{{ count.age }}</li>
    <li><strong>rights:</strong>{{ count.rights }}</li>
  </ul>
</mat-card>
